TOOLBOX_HOST=127.0.0.1
TOOLBOX_PORT=8765
TOOLBOX_MAX_WORKERS=2
TOOLBOX_DATA_DIR=./data
TOOLBOX_LOG_DIR=./logs
TOOLBOX_HOST=127.0.0.1
TOOLBOX_PORT=8765
TOOLBOX_MAX_WORKERS=2
TOOLBOX_CANCEL_TIMEOUT=5
TOOLBOX_AUTH_DISABLED=true
